/*http://colorscheme.ru/#0A11TqahNg0g0*/

html, body {
    height: 100%;
}
body {
    background-color: rgba(0, 0, 0, 0.1);
}

.pageelem {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}