{% extends "layout.html" %}
{% block title %}Game{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    username{ font-style: bold; font-color: {{ username_color }} }
  </style>
{% endblock %}

{% block content %}
  <!-- <div id="left">
    <table>
      {% for player in players %}
        <tr><td>{{ player }}</td></tr>
      {% endfor %}
    </table>
    <form action="{{ add_room_url }}">
      <input type="submit" value="Add Room">
      <input type="hidden" name="nickname" value="{{ nickname }}" />
      <input type="hidden" name="id" value="{{ id }}" />
    </form>
  </div>
  <div id="right">
    <a id="backButton" href="#" data-rel="back" data-role="button">Chat Rooms</a>
    <ul id="messageList" data-role="listview"> </ul>
    <textarea id="messageContent"></textarea>
    <a id="sendMessageButton" href="#" data-role="button">Send Message</a>
  </div> -->

  <div class="container" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-md-9 col-xs-12" style="background-color: #fff;">Lorem ipsum</div>
      <div class="col-md-3 col-xs-12" style="background-color: #fff;">
        <div class="col-xs-12">
          <ul id="messageList" class="list-unstyled"></ul>
        </div>
        <div class="col-xs-12">
          <form id="messageInputForm" class="from">
            <input id="messageInput" class="form-control" type="text">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default navbar-fixed-bottom" style="background-color: #fff;">
    <form class="navbar-form" action="{{ add_room_url }}">
      <button type="submit" class="btn btn-default">Add group</button>
      <input type="hidden" name="nickname" value="{{ nickname }}" />
      <input type="hidden" name="id" value="{{ id }}" />
    </form>
  </div>

  <script>
    var channel = '{{ channel }}',
        name = '{{ nickname }}',
        mycolor = '{{ mycolor }}';
        
    $(document).ready(function () {
      var pubnub = PUBNUB.init({
        publish_key: 'pub-c-33787580-d63f-4c10-a274-4673c54b6655',
        subscribe_key: 'sub-c-79472c46-6cd4-11e4-ab04-02ee2ddab7fe'
      });

      var messageContent = $('#messageContent'),
          sendMessageButton = $('#sendMessageButton'),
          messageList = $('#messageList');

      function handleMessage(message) {
        var messageEl = "<li class='message'><span class='username' style='font-weight: bold; color: #" + message.color + ";'>" + message.username + ": </span>" + message.text + "</li>";

        console.log(messageEl);
        messageList.append(messageEl);
      };

      $("#messageInputForm").submit(function(event) {
        event.preventDefault();
        message = $("#messageInput").val();
        if (message != '') {
          pubnub.publish({
            channel: channel,
            message: {
              username: name,
              color: mycolor,
              text: message
            }
          });
          $("#messageInput").val("");
        }
      });

      pubnub.subscribe({
        channel: channel,
        message: handleMessage
      });
    });
  </script>
{% endblock %}