{% extends "layout.html" %}
{% block title %}Game{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='game_js/lib/math.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='game_js/lib/fakePoint.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='game_js/lib/point.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='game_js/lib/vector.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='game_js/game/snake.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='game_js/game/game.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-md-9 col-xs-12 text-center" style="padding-top: 20px;">
        <canvas id="field" width="640px" height="480px"></canvas>
      </div>
      <div class="col-md-3 col-xs-12" style="background-color: #fff;">
        <div class="col-xs-12">
          <ul id="messageList" class="list-unstyled" style="overflow: auto; padding-bottom:50px;"></ul>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default navbar-fixed-bottom" style="background-color: #fff;">
    <div class="row">
      <div class="col-md-1 col-xs-3">
        <div class="btn btn-primary navbar-btn" style="margin-left: 5px;">back</div>
      </div>
      <div class="col-md-1 col-xs-3">
        <form class="navbar-form" action="{{ add_room_url }}">
          <button type="submit" class="btn btn-default">Add group</button>
          <input type="hidden" name="nickname" value="{{ nickname }}" />
          <input type="hidden" name="id" value="{{ id }}" />
        </form>
      </div>
      <div class="col-md-7 col-xs-6">
        {% if not_active_game %}
          <form class="navbar-form" action="{{ start_game_url }}">
            <button type="submit" class="btn btn-default">Start game</button>
            <input type="hidden" name="nickname" value="{{ nickname }}" />
            <input type="hidden" name="id" value="{{ id }}" />
          </form>
        {% endif %}
      </div>
      <div class="col-md-3 col-xs-12 text-center">
        <form id="messageInputForm" class="navbar-form">
          <input id="messageInput" class="form-control" type="text" placeholder="chat" style="width: 100%;">
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var pubnub1 = PUBNUB.init({
        publish_key: 'pub-c-33787580-d63f-4c10-a274-4673c54b6655',
        subscribe_key: 'sub-c-79472c46-6cd4-11e4-ab04-02ee2ddab7fe'
      });
    var deltas = [0, 0, 0, 0, 0, 0, 0, 0];

    var channel = '{{ channel }}',
        name = '{{ nickname }}',
        mycolor = '{{ mycolor }}',
        players = '{{players}}'.split("*"),
        nickname = '{{nickname}}';

     $(document).keydown(function (e) {
          if (e.keyCode == 37)
            deltas[nicknameToId[nickname]] = -1
          else if (e.keyCode == 39)
            deltas[nicknameToId[nickname]] = 1
          pubnub1.publish({
            channel: channel + "_sis",
            message: {"nickname": name, "delta": deltas[nicknameToId[nickname]]} 
          });
      });
      $(document).keyup(function (e) {
          // if (e.keyCode == 37)
          //   ++deltas[nicknameToId[nickname]];
          // else if (e.keyCode == 39)
          //   --deltas[nicknameToId[nickname]];
          deltas[nicknameToId[nickname]] = 0;
          pubnub1.publish({
            channel: channel + "_sis",
            message: {"nickname": name, "delta": deltas[nicknameToId[nickname]]} 
          });
      });
        
    $(document).ready(function () {
      $("#messageList").css("height", ($(window).height() - 60).toString() + "px");
      $(window).resize(function() {
        $("#messageList").css("height", $(window).height().toString() + "px");
      });

      var pubnub = PUBNUB.init({
        publish_key: 'pub-c-33787580-d63f-4c10-a274-4673c54b6655',
        subscribe_key: 'sub-c-79472c46-6cd4-11e4-ab04-02ee2ddab7fe'
      });

      var messageContent = $('#messageContent'),
          sendMessageButton = $('#sendMessageButton'),
          messageList = $('#messageList');

      function handleMessage(message) {
        var messageEl = "<li class='message'><span class='username' style='font-weight: bold; color: #" + message.color + ";'>" + message.username + ": </span>" + message.text + "</li>";

        messageList.append(messageEl);
        $("ul").animate({ scrollTop: $(document).height() - $(window).height() }, 'slow');
      };

      $("#messageInputForm").submit(function(event) {
        event.preventDefault();
        message = $("#messageInput").val();
        if (message != '') {
          pubnub.publish({
            channel: channel,
            message: {
              username: name,
              color: mycolor,
              text: message
            }
          });
          $("#messageInput").val("");
        }
      });

      pubnub.subscribe({
        channel: channel,
        message: handleMessage
      });

      canvas = $("#field");
      canvasWidth = parseInt(canvas.prop("width"));
      canvasHeight = parseInt(canvas.prop("height"));
      canvasCenterX = canvasWidth / 2;
      canvasCenterY = canvasHeight / 2;
      canvas.drawRect({
        fillStyle: "#ccc",
        x: canvasCenterX,
        y: canvasCenterY,
        width: canvasWidth,
        height: canvasHeight,
      });
      nicknameToId = {}
      for (var i = 0; i < players.length; ++i)
        nicknameToId[players[i]] = i;
      var deltas = [0, 0, 0, 0, 0, 0, 0, 0];
      
      function handleDelta(message, channel) {
        deltas[nicknameToId[message["nickname"]]] = message["delta"];
      };

      pubnub1.subscribe({
        channel: channel + "_sis",
        message: handleDelta
      });

      {% if active_game %}

      var game = new Game(channel, players, canvas, $("#gameTable"));

      var gameFunction = function () {
        game.update(deltas);
        if (game.alive_count <= 1) {
            stopGame();
        }
      }

      var gameCycle = window.setInterval(gameFunction, 20), round = 1;
      var stopGame = function () {
        clearInterval(gameCycle);
        setTimeout(function () {
            game.awardWinner();
            round++;
            if (round <= ROUNDS) {
                $(window).one("keypress", function () {
                    $("#roundDiv").html("Round " + round.toString() + "/" + ROUNDS.toString());
                    game.restart();
                    gameCycle = window.setInterval(gameFunction, 20);
                    for (var ii = 0; ii < deltas.length; ++ii)
                      deltas[ii] = 0;
                });
            }
            else {
                $(window).one("keypress", function () {
                    var best_player = "", best_score = -1, best_count = 1, i;
                    var player, score;
                    for (i = 0; i < game.players_count; ++i) {
                        score = parseInt($("#player" + (i + 1).toString() + " div.playerScore", this.table).html());
                        player = game.snakes[i].player;
                        if (score > best_score) {
                            best_score = score;
                            best_player = player;
                            best_count = 1;
                        }
                        else if (score == best_score) {
                            best_count++;
                            best_player += ", " + player;
                        }
                    }
                    var greet;
                    if (best_count == 1)
                        greet = "Winner:\n";
                    else
                        greet = "Winners:\n";
                    game.canvas.drawRect({
                        fillStyle: "#ccc",
                        x: 0 + parseInt(canvas.prop("width")) / 2, 
                        y: 0 + parseInt(canvas.prop("height")) / 2,
                        width: 640, 
                        height: 480
                    });
                    game.canvas.drawText({
                        fillStyle: '#000',
                        x: parseInt(canvas.prop("width")) / 2,
                        y: parseInt(canvas.prop("height")) / 2,
                        fontSize: 60,
                        fontFamily: 'Verdana, sans-serif',
                        text: greet + best_player
                    });
                });
            }
        }, 500);
      {% endif %}
    };
    });
  </script>
{% endblock %}