{% extends "layout.html" %}
{% block title %}Game{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    username{ font-style: bold; font-color: {{ username_color }} }
  </style>
{% endblock %}

{% block content %}
  <div id="left">
    <table>
      {% for player in players %}
        <tr><td>{{ player }}</td></tr>
      {% endfor %}
    </table>
    <form action="{{ add_room_url }}">
      <input type="submit" value="Add Room">
      <input type="hidden" name="nickname" value="{{ nickname }}" />
      <input type="hidden" name="id" value="{{ id }}" />
    </form>
  </div>
  <div id="right">
    <a id="backButton" href="#" data-rel="back" data-role="button">Chat Rooms</a>
    <ul id="messageList" data-role="listview"> </ul>
    <textarea id="messageContent"></textarea>
    <a id="sendMessageButton" href="#" data-role="button">Send Message</a>
  </div>

  <script>
    var channel = '{{ channel }}',
        name = '{{ nickname }}',
        mycolor = '{{ mycolor }}';
        
    $(document).ready(function () {
      var pubnub = PUBNUB.init({
        publish_key: 'pub-c-33787580-d63f-4c10-a274-4673c54b6655',
        subscribe_key: 'sub-c-79472c46-6cd4-11e4-ab04-02ee2ddab7fe'
      });

      var messageContent = $('#messageContent'),
          sendMessageButton = $('#sendMessageButton'),
          messageList = $('#messageList');

      function handleMessage(message) {
        var messageEl = $("<li class='message'>"
          + "<span class='username' style='font-style: bold; font-color: " + message.color + ";' " 
          + message.username + ": </span>" + message.text + "</li>");
        messageList.append(messageEl);
      };

      sendMessageButton.click(function (event) {
        var message = messageContent.val();
        if (message != '') {
          pubnub.publish({
            channel: channel,
            message: {
              username: name,
              color: mycolor,
              text: message
            }
          });
          messageContent.val("");
        }
      });

      messageContent.bind('keydown', function (event) {
        if((event.keyCode || event.charCode) !== 13) return true;
        sendMessageButton.click();
        return false;
      });

      pubnub.subscribe({
        channel: channel,
        message: handleMessage
      });
    });
  </script>
{% endblock %}